*,
*::before,
 ::after {
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
    background-color: blue;
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

button {
    --hue: var(--hue-neutral);
    /* border: 1px solid hsl(var(--hue), 100%, 30%); */
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

button:hover {
    border: 2px solid black;
}

button.correct {
    --hue: var(--hue-correct);
}

button.wrong {
    --hue: var(--hue-wrong);
}

.quiz {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px 2px;
}

.btnLayout {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.hide {
    display: none;
}

.scoreList {
    list-style: none;
    margin: 1rem;
    padding: 0.5rem;
}

.scoreList li {
    margin-bottom: 0.6rem;
}

.listsContainer {
    display: flex;
    justify-content: space-between;
    background-color: chocolate;
}